.boardWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.cardsBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.cardBlock {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.statusBlock {
    display: flex;
    flex-direction: column;
}

.statusText {
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: bold;
}

.win {
    color: #0fbe0f;
}

.lose {
    color: red;
}

.cardBlock img {
    width: 226px;
    height: 314px;
    border-radius: 12px;
    perspective: 1000px;
}


.cardBlock button {
    padding: 15px 30px;
    font-weight: bold;
    font-size: 22px;
    border: none;
    cursor: pointer;
}

.cardBlock button:hover {
    box-shadow: -1px 1px 27px 14px rgba(34, 60, 80, 0.2);
}

.cardLeft:hover {
    box-shadow: 10px 2px 8px 15px rgba(34, 60, 80, 0.2);
}

.cardRight:hover {
    box-shadow: -10px 2px 8px 15px rgba(34, 60, 80, 0.2);
}

.enterRate input {
    width: 110px;
    padding: 7px;
    font-size: 24px;
}

.dollar {
    font-size: 24px;
}

.errorText {
    margin-top: 5px;
    margin-left: 40px;
    color: red;
}

@media screen and (max-width: 1200px) {
    .cardBlock img {
        width: 150px;
        height: auto;
        border-radius: 2px;
    }
    .cardBlock button {
        font-size: 16px;
        padding: 5px 10px;
    }
}

@media screen and (max-width: 880px) {
    .cardBlock img {
        width: 120px;
        border-radius: 2px;
    }
    .cardBlock button {
        padding: 5px 10px;
        font-size: 10px;
    }
}

@media screen and (max-width: 600px) {
    .cardBlock img {
        width: 62px;
        border-radius: 2px;
    }
    .cardBlock button {
        font-size: 10px;
        padding: 5px 10px;
    }

    .enterRate input{
        font-size: 20px;
        padding: 5px;
        width: 62px;
        margin-top: 20px;
    }
    .statusText{
        font-size: 15px;
    }
}

@media screen and (max-width: 410px) {
    .cardBlock button {
        font-size: 9px;
        padding: 3px 5px;
    }
}