*{
    text-decoration: none;
}

.mainHeaderWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d2face;
    box-shadow: 0 0 8px rgba(51, 212, 35, 0.42);
    padding: 20px;
    font-size: 20px;
    max-height: 65px;
    z-index: 15;
}
.mainHeaderWrap .mainHeaderTitle{
    margin-left: 10%;
}
.mainHeaderWrap .mainHeaderAuth{
    margin-right: 10%;
}

.mainHeaderWrap .mainHeaderAuth a{
    margin-right: 15%;
}
.mainHeaderIsAuth{
    display: flex;
    align-items: center;
}

.mainHeaderIsLogout{
    display: flex;
    align-items: center;
}

.mainHeaderIsAuth span{
    padding-right: 20px;
}
.loginLink{
    color: #6b6969;
    cursor: pointer;
}
.loginLink:hover{
    color: black;
    border-bottom: 2px solid black;
}

nav{
    position: absolute;
    top: 23px;
    display: flex;
    align-items: center;
}


.burgerBtn{
    width: 30px;
    height: 25px;
    position: relative;
    margin-left: 20px;
    cursor: pointer;
}

.burgerBtn:before{
    content: '';
    position: absolute;
    top: 0;
    width: 30px;
    background-color: black;
    height: 2px;
}

.burgerBtn span{
    position: absolute;
    top: 11px;
    width: 30px;
    background-color: black;
    height: 2px;
}

.burgerBtn:after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 30px;
    background-color: black;
    height: 2px;
}