.btnWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px);
}

.btn{
    padding: 30px 90px;
    font-size: 28px;
    border-radius: 16px;
    background-color: #d2face;
    color: #6b6969;cursor: pointer;
}
.btn:hover{
    color: black;
    box-shadow: 0 0 12px rgb(51 212 35 / 42%);
}